<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
    <customErrors mode="Off"/>
  </system.web>
  <appSettings>
    <add key="Connection.Server" value="localhost"/>
    <add key="Connection.Database.Online" value="arenafifadb"/>
    <add key="Connection.Database.Spooler" value="arena_spooler"/>
    <add key="Connection.Database.Blog" value="arena_blog"/>
    <add key="Connection.Database.Clashes" value="arena_clashes"/>
    <add key="Connection.Database.Comments" value="arena_comments"/>
    <add key="Connection.Database.Staging" value="arenafifadb_staging"/>
    <add key="Connection.UID" value="root"/>
    <add key="Connection.PassWD" value="WVdSbjJUcDdST009"/>
  </appSettings>
</configuration>
