<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
    <customErrors mode="Off"/>
  </system.web>
  <appSettings>
    <add key="Email.From" value="moderadoresarena@arenafifa.com.br"/>
    <add key="Email.Passwd" value="moderaARENA16"/>
    <add key="Email.Port" value="587"/>
    <add key="Email.Smtp" value="smtp.arenafifa.com.br"/>
    <add key="Email.Priority" value="3"/>
    <add key="Email.Error.Manager" value="aires.junior@arenafina.com.br"/>
  </appSettings>
</configuration>
